body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /*background: color #ff4;*/
  background-image: url("./cloth_00145.jpg");
  background-size: cover;
}

.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton{
  display: none !important;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root{
  justify-content: center;
}
.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title {
  font-size: 1.5rem;
  font-family: cursive;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  font-family: cursive;
}

.flex_test-box {
    /*background-color: #eee;     /* 背景色指定 */
    padding:  10px;   /* 余白指定 */
    justify-content: space-between;
    display:flex;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #eea;
}
 
.flex_test-item {
    padding: 10px;
    color:  #000;               /* 文字色 */
    margin:  10px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
}

.flex_test-item:nth-child(1) {
    background-color:  rgba(226, 225, 221, 0.797); /* 背景色指定 */
}
 
.flex_test-item:nth-child(2) {
    background-color:  rgba(226, 225, 221, 0.797); /* 背景色指定 */
}